* {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
 }
 
 .App {
	text-align: center;
	margin-top: 80px;
 }
 
 .label {
	margin-bottom: 10px;
	text-align: center;
 }
 
 .button {
	text-transform: uppercase;
	margin-top: 20px;
	cursor: pointer;
 }
 
 .button:hover {
	background-color: rgb(66, 48, 204);
	color: white;
 }
 
 .clocks-name {
	font-weight: 700;
	font-size: 20px;
 }
 
 .header {
	text-align: center;
	font-size: 28px;
	margin-bottom:50px;
 }
